@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Roboto:ital,wght@0,100;0,400;0,500;1,300;1,400;1,500&display=swap');

header{
    color:white;
    font-family: 'Bubblegum Sans', cursive;
    font-size: 55px;
}

.btn:focus, .btn:active {
    outline: none;
    box-shadow: none;
    
  }